.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #0e0e0e;
}

.credits {
    font-family: "Segoe UI", sans-serif;
    color: #242424;
}